body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222831;
    height: 100%;
    color: #222831;
    margin: 1px;
  }

  p, h1{
    text-align: center;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  .button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #222831;
    color: #DBC078;
    text-decoration: none;
  }

  a:link { 
    text-decoration: none; 
    color: #DBC078;
  } 
  a:visited { 
    text-decoration: none; 
    color: #DBC078;
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
    color: #DBC078;
  }

  input[type=submit] {
    width: 100%;
    background-color: #DBC078;
    color: #222831;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
fieldset{
  width:40%;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
 }

   input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }
   input[type=email]{
   width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input{
    font-size: large;
  }

  div {
     text-align: center;
  }
  